<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944555263348-vcrh54m13mbhlreoqcp27ig7fmbb29a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944555263348-vcrh54m13mbhlreoqcp27ig7fmbb29a4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944555263348-4c951saj3p6mb2vairjrg6hcvnqium39.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDO5Q0m-3ReelN5yolQq5DfwHVeyZVPFeE</string>
	<key>GCM_SENDER_ID</key>
	<string>944555263348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wg.Ozone.India</string>
	<key>PROJECT_ID</key>
	<string>ozone-927e6</string>
	<key>STORAGE_BUCKET</key>
	<string>ozone-927e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944555263348:ios:02f25ba63a69b6aeab1821</string>
</dict>
</plist>